! % xrdb -load ~/.Xresources
! ! % xrdb -query
! ! % xrdb -symbol
! ! % xrdb -merge ~/.Xresources
!
Xft.antialias: 1
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintsfull
Xft.rgba: rgb

xterm*faceName: Monaco:pixelsize=11
xTerm*scrollBar: false
xTerm*saveLines: 5000
xterm.termName: xterm-256color
xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*loginshell: true
xterm*cursorBlink: true
xterm.borderLess: true
xterm.cursorBlink: true
xterm*background:#2e3436
xter*foreground:white

*xter*color0: #000000
*xter*color1: #a40000
*xter*color2: #4e9a06
*xter*color3: #c4a000
*xter*color4: #729fcf
*xter*color5: #75507b
*xter*color6: #0b939b
*xter*color7: #d3d7cf
*xter*color8: #555753
*xter*color9: #ef2929
*xter*color10: #8ae234
*xter*color11: #fce94f
*xter*color12: #1e90ff ! #204a87
*xter*color13: #ad7fa8
*xter*color14: #00f5e9
*xter*color15: #eeeeec


URxvt*title: Rxvt-Unicode
URxvt*termName: rxvt

URxvt.tintColor:lightgray
URxvt*inheritPixmap: true
urxvt*transparent: true
urxvt*shading: 30

URxvt*depth: 32
URxvt*background: #2e3436

URxvt*font:   xft:Monaco:size=10:antialias=true
URxvt*boldFont:   xft:Monaco:size=10:antialias=true
URxvt*bolditalicFont: xft:Monaco:size=11:antialias=true
URxvt*italicFont: xft:Monaco:size=10:antialias=true

URxvt*borderLess: false
URxvt*buffered: true
URxvt*cutchars:  "()*,<>[]{}|'"
URxvt*fading: 30
URxvt*foreground: white
URxvt*internalBorder: 5
URxvt*preeditType: Root
URxvt*saveLines: 5000
URxvt*scrollBar: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScroll: true
URxvt*thickness: 0
URxvt.color0: #000000
URxvt.color10: #8ae234
URxvt.color11: #fce94f
URxvt.color12: #1e90ff
URxvt.color13: #ad7fa8
URxvt.color14: #00f5e9
URxvt.color15: #eeeeec
URxvt.color1: #a40000
URxvt.color2: #7fff00
URxvt.color3: #c4a000
URxvt.color4: #729fcf
URxvt.color5: #75507b
URxvt.color6: #0b939b
URxvt.color7: #d3d7cf
URxvt.color8: #555753
URxvt.color9: #ef2929
URxvt.perl-ext-common: default,tabbed